@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1199px) {
    @content;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    color: white;
    text-align: right;
    background: rgba(0, 0, 0, 0.6);
    padding: 0 1.5rem 0;
    margin: 1rem 0;
    font-size: 1.8rem;
    width: 25vw;

    @include phone {
      width: 100%;
      margin: 0;
      font-size: 1rem;
      padding: 0.5rem 1rem 0.5rem;
    }
    @include tablet {
      width: 40vw;
      font-size: 1.3rem;
    }
  }

  .inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    @include phone {
      flex-direction: column;
      align-content: center;
    }

    .card,
    i {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border: solid 1px transparent;
      border-radius: 1px;
      margin: 2rem 1rem;
      padding: 1.2%;
      background-color: white;
      transition: all 0.5s ease-in-out;
      width: calc(30% - 10px);
      min-height: 450px;
      text-decoration: none;

      @include phone {
        width: 90%;
        min-height: none;
        margin: 3% 1%;
        padding: 2%;
        min-height: 400px;
      }

      @include tablet {
        width: calc(40% - 10px);
      }

      &:hover {
        box-shadow: 0 2px 14px #a3a3a3;
        transform: scale(1.01);
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 1rem 0;

        h3 {
          margin: 0.1rem 0;
          font-size: 0.8rem;
          color: #4f4f72;
        }

        p {
          margin: 0;
          color: black;
          font-size: 0.8rem;
          text-align: justify;
          text-justify: inter-word;
          width: 95%;
          overflow: hidden;

          @include phone {
            margin: 0;
          }
        }

        #readmore {
          margin: 0;
          color: black;
          font-size: 1rem;
          text-decoration: underline;
        }
      }
      .img-container {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        img {
          top: 0;
          left: 0;
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
        h2 {
          position: absolute;
          width: 80%;
          background: rgba(0, 0, 0, 0.6);
          bottom: 10px;
          left: 0;
          padding: 0.3rem 0.5rem;
          font-size: 1.2rem;

          @include phone {
            width: 90%;
            font-size: 1rem;
          }
          span {
            color: white;
          }
        }
      }
    }

    i {
      border: none;
      box-shadow: none;
      border-radius: none;
      background: inherit;

      &:hover {
        box-shadow: none;
      }

      @include phone {
        display: none;
      }

      @include tablet {
        display: none;
      }
    }
  }
  footer {
    color: black;
    text-align: center;
    margin: 3rem;
    font-size: 1.5rem;
    a {
      text-decoration: none;
      color: black;
    }
  }
}
